@import '../variables.scss';

.persuasion-in-pictures {
    .persuasion-header {
        margin-bottom: 32px;
        margin-top: 32px;

        display: grid;
        grid-template-columns: 65% 35%;

        @media (min-width: $medium) {
            grid-template-columns: 70% 30%;
        }

        img {
            max-width: 100%;
            display: block;
            margin: auto;

            @media (min-width: $medium) {
                max-width: 150px;
            }
        }
    }

    .persuasion-resources {
        @media (min-width: $medium) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .persuasion-resource {
            text-align: center;

            @media (min-width: $medium) {
                padding-right: 16px;
            }

            p {
                text-align: left;
            }

            .persuasion-resource-image {
                max-width: 200px;
            }
        }
    }
}
