@import './variables.scss';

.blog {
    .blog-content {
        padding: 32px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .blog-links {
        justify-content: flex-end;
    }

    // Animations

    &.page-enter-active {
        display: none;
    }
    &.page-enter-done {
        animation: slide-in-left $transitionsDuration forwards;
    }

    &.page-exit-active {
        animation: slide-out-left $transitionsDuration forwards;
    }
    &.page-exit-done {
        display: none;
    }
}
