@import './variables.scss';

$extraSmallImageHeight: 50%;
$mediumImageHeight: 60%;

.home {
    display: flex;
    flex-direction: column;
    height: 100%;

    .home-header,
    .home-image {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-header {
        padding: 24px 32px;

        h1 {
            max-width: 700px;
            margin: 0;
            opacity: 0;
            animation: slide-left $homeAnimationsDuration forwards;
            animation-delay: $homeAnimationsDelay;
            font-size: 24px;

            @media (min-width: $medium) {
                font-size: 32px;
            }
        }
    }

    .home-image {
        box-sizing: content-box;
        padding: 24px 0;

        img {
            width: 100%;
            opacity: 0;
            animation: slide-right $homeAnimationsDuration forwards;
            animation-delay: $homeAnimationsDelay * 2;

            @media (min-width: $medium) {
                width: unset;
                max-width: 100%;
                height: 350px;
            }
        }
    }
}
