@import './animations.scss';
@import './blog.scss';
@import './home.scss';
@import './portfolio.scss';

html,
body,
#app-placeholder {
    min-height: 100%;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    overflow: hidden;
}
