@import './variables.scss';

.navigation {
    height: $navigationHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: slide-down $homeAnimationsDuration forwards;
    animation-delay: $homeAnimationsDelay * 3;

    .navigation-item {
        font-size: 24px;
        padding: 16px;
        cursor: pointer;
    }
}
