@import './variables.scss';

.portfolio {
    .portfolio-content {
        padding: 32px;
        box-sizing: border-box;
        overflow-y: auto;

        .project {
            img {
                max-width: 100%;
            }
        }
    }

    // Animations

    &.page-enter-active {
        display: none;
    }
    &.page-enter-done {
        animation: slide-in-right $transitionsDuration forwards;
    }

    &.page-exit-active {
        animation: slide-out-right $transitionsDuration forwards;
    }
    &.page-exit-done {
        display: none;
    }
}
