@import './variables.scss';

.article {
    &.preview-mode {
        cursor: pointer;
    }

    .article-info {
        @media (min-width: $medium) {
            display: flex;
            align-items: baseline;
        }

        .article-title {
            @media (min-width: $medium) {
                margin-bottom: 8px;
            }
        }

        .article-details {
            margin: 8px 0;

            @media (min-width: $medium) {
                margin-left: 16px;
            }

            span {
                padding-right: 8px;
                white-space: nowrap;
                display: inline-block;
                margin-top: 8px;
            }
        }
    }

    .article-body {
        a {
            color: black;
        }

        .article-quote {
            max-width: 80%;
            margin: 32px auto;
            line-height: 1.75;
        }

        .article-image {
            margin: 32px auto;
            display: block;
            max-width: 100%;
        }
    }
}

// Animations

.article-container {
    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        // Total enter animations time CAN exceed $transitionsDuration
        $enterAnimations: $transitionsDuration / 3;

        .article-info {
            opacity: 0;
            animation: slide-in-right $enterAnimations forwards;
        }

        .article-body {
            opacity: 0;
            animation: slide-in-right $enterAnimations forwards;
            animation-delay: $enterAnimations;
        }

        .section-links {
            opacity: 0;
            animation: slide-in-right $enterAnimations forwards;
            animation-delay: $enterAnimations * 2;
        }
    }

    &.page-exit-active {
        // Total exit animations time CANNOT exceed $transitionsDuration
        $exitAnimations: $transitionsDuration / 3;

        .article-info {
            animation: slide-out-right $exitAnimations forwards;
            animation-delay: $exitAnimations * 2;
        }

        .article-body {
            animation: slide-out-right $exitAnimations forwards;
            animation-delay: $exitAnimations;
        }

        .section-links {
            animation: slide-out-right $exitAnimations forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}
