@import './variables.scss';

@mixin articleEnterAnimation($animationTime) {
    .article-info {
        opacity: 0;
        animation: slide-in-right $animationTime forwards;
    }

    .article-body {
        opacity: 0;
        animation: slide-in-right $animationTime forwards;
        animation-delay: $animationTime;
    }
}

@mixin articleExitAnimation($animationTime) {
    .article-info {
        animation: slide-out-right $animationTime forwards;
        animation-delay: $animationTime * 2;
    }

    .article-body {
        animation: slide-out-right $animationTime forwards;
        animation-delay: $animationTime;
    }
}

// This selector is defined outside .article-container so it applies also in the blog list
.article {
    &.preview-mode {
        cursor: pointer;

        &:hover {
            .article-info,
            .article-body {
                opacity: $hoverOpacity;
            }
        }
    }

    .article-info {
        transition: opacity $hoverOpacity;

        @media (min-width: $medium) {
            display: flex;
            align-items: baseline;
        }

        .article-title {
            @media (min-width: $medium) {
                margin-bottom: 8px;
            }
        }

        .article-details {
            margin: 8px 0;

            @media (min-width: $medium) {
                margin-left: 16px;
            }

            span {
                padding-right: 8px;
                white-space: nowrap;
                display: inline-block;
                margin-top: 8px;

                &.article-language {
                    cursor: pointer;
                    transition: font-size $hoverTransition, margin $hoverTransition,
                        opacity $hoverTransition;

                    &.selected-language {
                        cursor: default;
                        font-weight: 700;
                    }

                    &:hover:not(.selected-language) {
                        opacity: $hoverOpacity;
                        margin-top: 0;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .article-body {
        transition: opacity $hoverOpacity;

        a {
            color: black;
        }

        ul {
            &.numbered {
                list-style-type: decimal;
            }

            li {
                line-height: 1.75;
                margin-top: 16px;
            }
        }

        .article-quote {
            max-width: 80%;
            margin: 32px auto;
            line-height: 1.75;
        }

        .article-image {
            margin: 32px auto;
            display: block;
            max-width: 100%;

            &.image-placeholder {
                // Placeholder for image loading error
                background-color: #f2f2f2;
                padding: 96px 24px;
                width: 100%;
                box-sizing: border-box;
            }

            &.with-footer {
                margin-bottom: 0;
            }

            &.image-300 {
                width: 300px;
            }

            &.image-600 {
                @media (min-width: $medium) {
                    width: 600px;
                }
            }
        }

        .article-video {
            margin: 32px auto;
            display: block;
            max-width: 100%;
        }

        .article-image-footer {
            text-align: center;
            margin-top: 0;
        }

        .article-code-snippet {
            background: rgb(242, 242, 242);
            padding: 8px;
            margin-top: 16px;
            font-family: monospace;
            font-size: 16px;
        }
    }

    .programmatic-link {
        display: none;
    }

    .posts-timeline {
        margin-bottom: 0;
        margin-top: 32px;
    }

    .article-newsletter {
        margin-top: 56px;
        margin-bottom: 56px;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;

        .newsletter-title {
            font-size: 20px;
        }

        .inputs-wrapper {
            display: flex;
            flex-direction: column;
            margin: 24px 0;

            .email {
                font-family: inherit;
                font-size: 16px;
                padding: 8px;
                min-width: 250px;
            }

            .newsletter-submit {
                margin: 10px 0 0 0;
            }
        }

        @media (min-width: $medium) {
            .inputs-wrapper {
                flex-direction: row;

                .newsletter-submit {
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    .article-links {
        display: grid;
        grid-template-columns: 50% 50%;

        .previous-link,
        .next-link {
            margin: 16px 0;

            .link-text {
                color: black;
                font-size: 20px;
                transition: font-size $hoverTransition, opacity $hoverTransition;

                a {
                    text-decoration: none;
                }

                .title-preview {
                    margin-top: 8px;
                    font-size: 16px;
                }

                &:hover {
                    font-size: 24px;
                    opacity: $hoverOpacity;
                }
            }
        }

        .next-link {
            text-align: right;
        }
    }

    .share-button {
        margin: 16px 0;

        img {
            display: block;
            margin: auto;
            width: 48px;
            height: 48px;
        }
    }
}

// Section animations

$animationSegments: 3;
$animationSegmentTime: $transitionsDuration / $animationSegments;

.article-container {
    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        .article:not(.article-exit-active) {
            @include articleEnterAnimation($animationSegmentTime);
        }

        .section-links {
            opacity: 0;
            animation: slide-in-right $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 2;
        }
    }

    &.page-exit-active {
        .article {
            @include articleExitAnimation($animationSegmentTime);
        }

        .section-links {
            animation: slide-out-right $animationSegmentTime forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}

// Article navigation animations

.article-container:not(.page-exit-active) {
    .article {
        &.article-enter-active {
            display: none;
        }
        &.article-enter-done {
            $animationSegmentTime: $transitionsDuration / 3;
            @include articleEnterAnimation($animationSegmentTime);
        }

        &.article-exit-active {
            $animationSegmentTime: $transitionsDuration / 3;
            @include articleExitAnimation($animationSegmentTime);
        }
        &.article-exit-done {
            display: none;
        }
    }
}
