@import './variables.scss';

.blog {
    .blog-content {
        padding: 32px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .blog-links {
        justify-content: flex-end;
    }

    // Animations

    &.page-enter-active {
        display: none;
    }
    &.page-enter-done {
        // Total enter animations time CAN exceed $transitionsDuration
        $enterAnimations: $transitionsDuration / 2;

        .blog-title {
            opacity: 0;
            animation: slide-in-left $enterAnimations forwards;
        }

        .blog-links {
            opacity: 0;
            animation: slide-in-left $enterAnimations forwards;
            animation-delay: $enterAnimations;
        }
    }

    &.page-exit-active {
        // Total exit animations time CANNOT exceed $transitionsDuration
        $exitAnimations: $transitionsDuration / 2;

        .blog-title {
            animation: slide-out-left $exitAnimations forwards;
            animation-delay: $exitAnimations;
        }

        .blog-links {
            animation: slide-out-left $exitAnimations forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}
