@import './variables.scss';

@mixin articlesEnterAnimation($animationTime) {
    $articleEnterTime: $animationTime * 2 / 4;
    .article {
        opacity: 0;
        animation: slide-in-left $articleEnterTime forwards;

        &:nth-child(1n) {
            animation-delay: $animationTime * 2;
        }

        &:nth-child(2n) {
            animation-delay: $animationTime * 2 + $articleEnterTime;
        }

        &:nth-child(3n) {
            animation-delay: $animationTime * 2 + $articleEnterTime * 2;
        }

        &:nth-child(4n) {
            animation-delay: $animationTime * 2 + $articleEnterTime * 3;
        }
    }
}

@mixin articlesExitAnimation($animationTime) {
    $articleExitTime: $animationTime * 2 / 4;
    .article {
        animation: slide-out-left $articleExitTime forwards;

        &:nth-child(1n) {
            animation-delay: $articleExitTime * 3;
        }

        &:nth-child(2n) {
            animation-delay: $articleExitTime * 2;
        }

        &:nth-child(3n) {
            animation-delay: $articleExitTime;
        }

        &:nth-child(4n) {
            animation-delay: 0s;
        }
    }
}

.blog {
    .blog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .blog-categories {
            .category {
                margin-right: 8px;
                padding: 8px;
                cursor: pointer;
                transition: font-size $hoverTransition, padding $hoverTransition,
                    opacity $hoverTransition;

                &.selected-category {
                    font-weight: 700;
                }

                &:hover:not(.selected-category) {
                    opacity: $hoverOpacity;
                    font-size: 20px;
                    padding: 0;
                }
            }
        }
    }

    .section-links {
        justify-content: flex-end;
    }

    // Section animations

    $animationSegments: 4;
    $animationSegmentTime: $transitionsDuration / $animationSegments;

    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        .blog-header {
            opacity: 0;
            animation: slide-in-left $animationSegmentTime forwards;
        }

        .section-links {
            opacity: 0;
            animation: slide-in-left $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime;
        }

        .articles:not(.articles-exit-active) {
            @include articlesEnterAnimation($animationSegmentTime);
        }
    }

    &.page-exit-active {
        .blog-header {
            animation: slide-out-left $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 3;
        }

        .section-links {
            animation: slide-out-left $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 2;
        }

        .articles {
            @include articlesExitAnimation($animationSegmentTime);
        }
    }
    &.page-exit-done {
        display: none;
    }

    // Category change animations

    &:not(.page-exit-active) {
        .articles.articles-enter-active {
            display: none;
        }
        .articles.articles-enter-done {
            @include articlesEnterAnimation($animationSegmentTime);
        }

        .articles.articles-exit-active {
            @include articlesExitAnimation($animationSegmentTime);
        }
        .articles.articles-exit-done {
            display: none;
        }
    }
}
