@import './variables.scss';

$extraSmallImageHeight: 50%;
$mediumImageHeight: 60%;

.home {
    .section-content {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        .home-header,
        .home-image {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .home-header {
            padding: 24px 0;

            h1 {
                margin: 0;
                font-size: 24px;
                line-height: 1.75;
                font-weight: 400;
            }
        }

        .home-image {
            box-sizing: content-box;
            padding: 24px 0;

            @media (max-width: $medium) {
                position: relative;
                left: -16px;
                width: calc(100% + 32px);
            }

            img {
                width: 100%;

                @media (min-width: $large) {
                    width: unset;
                    max-width: 100%;
                    height: 350px;
                }
            }
        }
    }

    .section-links {
        justify-content: space-between;
    }

    /* Animations */

    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        // Total enter animations time CAN exceed $transitionsDuration
        $enterAnimations: $transitionsDuration / 3;

        .home-header {
            opacity: 0;
            animation: slide-in-left $enterAnimations forwards;
        }

        .home-image {
            opacity: 0;
            animation: slide-in-right $enterAnimations forwards;
            animation-delay: $enterAnimations;
        }

        .section-links {
            opacity: 0;
            animation: slide-in-down $enterAnimations forwards;
            animation-delay: $enterAnimations * 2;
        }
    }

    &.page-exit-active {
        // Total exit animations time CANNOT exceed $transitionsDuration
        $exitAnimations: $transitionsDuration / 3;

        .home-header {
            animation: slide-out-right $exitAnimations forwards;
            animation-delay: $exitAnimations * 2;
        }

        .home-image {
            animation: slide-out-left $exitAnimations forwards;
            animation-delay: $exitAnimations;
        }

        .section-links {
            animation: slide-out-up $exitAnimations forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}
