@import './variables.scss';

$extraSmallImageHeight: 50%;
$mediumImageHeight: 60%;

.home {
    height: 100%;

    .home-content {
        display: flex;
        flex-direction: column;

        .home-header,
        .home-image {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .home-header {
            padding: 24px 32px;

            h1 {
                max-width: 700px;
                margin: 0;
                font-size: 24px;

                @media (min-width: $medium) {
                    font-size: 28px;
                }
            }
        }

        .home-image {
            box-sizing: content-box;
            padding: 24px 0;

            img {
                width: 100%;

                @media (min-width: $medium) {
                    width: unset;
                    max-width: 100%;
                    height: 350px;
                }
            }
        }
    }

    .home-links {
        justify-content: space-between;
    }

    /* Animations */

    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        // Total enter animations time CAN exceed $transitionsDuration
        $enterAnimations: $transitionsDuration / 3;

        .home-content {
            .home-header {
                opacity: 0;
                animation: slide-in-left $enterAnimations forwards;
            }

            .home-image {
                opacity: 0;
                animation: slide-in-right $enterAnimations forwards;
                animation-delay: $enterAnimations;
            }
        }

        .home-links {
            opacity: 0;
            animation: slide-in-down $enterAnimations forwards;
            animation-delay: $enterAnimations * 2;
        }
    }

    &.page-exit-active {
        // Total exit animations time CANNOT exceed $transitionsDuration
        $exitAnimations: $transitionsDuration / 3;

        .home-content {
            .home-header {
                animation: slide-out-right $exitAnimations forwards;
                animation-delay: $exitAnimations * 2;
            }

            .home-image {
                animation: slide-out-left $exitAnimations forwards;
                animation-delay: $exitAnimations;
            }
        }

        .home-links {
            animation: slide-out-up $exitAnimations forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}
