@import './variables.scss';

$extraSmallImageHeight: 50%;
$mediumImageHeight: 60%;

.home {
    .section-content {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        .home-header,
        .home-image {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .home-header h1 {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.75;
            margin: 0;
            text-align: center;
        }

        .home-image img {
            width: 100%;

            @media (min-width: $large) {
                max-height: 300px;
                max-width: 100%;
                width: unset;
            }
        }
    }

    .section-links {
        justify-content: space-between;
    }

    /* Animations */

    $animationSegments: 3;
    $animationSegmentTime: $transitionsDuration / $animationSegments;

    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        .home-header {
            opacity: 0;
            animation: slide-in-left $animationSegmentTime forwards;
        }

        .home-image {
            opacity: 0;
            animation: slide-in-right $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime;
        }

        .section-links {
            opacity: 0;
            animation: slide-in-down $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 2;
        }
    }

    &.page-exit-active {
        .home-header {
            animation: slide-out-right $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 2;
        }

        .home-image {
            animation: slide-out-left $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime;
        }

        .section-links {
            animation: slide-out-up $animationSegmentTime forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}
