@import './article.scss';
@import './articles/four-coin-challenge.scss';
@import './articles/kanban-goals-tracking.scss';
@import './articles/linear-gradient.scss';
@import './articles/persuasion-in-pictures.scss';
@import './articles/trecember.scss';
@import './animations.scss';
@import './blog.scss';
@import './error.scss';
@import './home.scss';
@import './portfolio.scss';
@import './project.scss';
@import './variables.scss';

$mobilePadding: 16px;
$desktopPadding: 32px;
$linksHeight: 64px;

html,
body,
#app-placeholder,
.app-container,
.app-container > * {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
}

.app-container {
    overflow-x: hidden;

    &.server-rendered {
        opacity: 0;
    }
}

.section-viewport {
    height: calc(100% - #{$linksHeight});
    overflow-y: auto;

    .section-content {
        min-height: 100%;
        padding: $mobilePadding * 1.5 $mobilePadding 0 $mobilePadding;
        box-sizing: border-box;
        overflow-x: hidden;

        @media (min-width: $medium) {
            padding: $desktopPadding 0 0 0;
            margin: auto;
            max-width: 720px;
        }

        @media (min-width: $large) {
            max-width: 960px;
        }
    }
}

.section-links {
    height: $linksHeight;
    display: flex;
    align-items: center;

    .link {
        text-decoration: none;
        color: black;
        font-size: 24px;
        padding: 16px;
        cursor: pointer;
        line-height: 32px;
        transition: font-size $hoverTransition, opacity $hoverTransition;

        &:hover {
            font-size: 30px;
            opacity: $hoverOpacity;
        }
    }
}

p {
    line-height: 1.75;
}

.screen-splitter {
    display: block;
    align-items: center;

    @media (min-width: $medium) {
        display: flex;

        & > * {
            flex-grow: 1;
            margin: 0 5px;

            * {
                max-width: 100% !important;
            }
        }
    }
}

.button {
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    font-weight: 700;
    padding: 8px 16px;

    &.primary {
        color: white;
        background-color: $primaryColor;
    }

    &.big {
        font-size: 20px;
        line-height: 28px;
    }

    &:hover {
        background-color: mix(white, $primaryColor, 15%);
    }

    &:active {
        background-color: mix(black, $primaryColor, 15%);
    }

    &:not(.disabled-button) {
        cursor: pointer;
    }

    &.disabled-button {
        background-color: mix(white, $primaryColor, 45%);
    }
}
