@import './variables.scss';

.portfolio {
    .portfolio-title {
        margin-top: 0;
        margin-bottom: 32px;
    }

    .projects {
        display: grid;
        grid-template-columns: 100%;

        @media (min-width: $medium) {
            grid-template-columns: 50% 50%;
        }
    }

    // Animations

    $animationSegments: 4;
    $animationSegmentTime: $transitionsDuration / $animationSegments;
    $projectAnimationTime: $animationSegmentTime * 2 / 4;

    &.page-enter-active {
        display: none;
    }
    &:not(.page-enter-done):not(.page-exit-active), // Apply home first load too
    &.page-enter-done {
        .portfolio-title {
            opacity: 0;
            animation: slide-in-right $animationSegmentTime forwards;
        }

        .section-links,
        .personal-page-evolution {
            opacity: 0;
            animation: slide-in-right $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime;
        }

        .projects {
            .project {
                opacity: 0;
                animation: slide-in-right $projectAnimationTime forwards;

                &:nth-child(1n) {
                    animation-delay: $animationSegmentTime * 2;
                }

                &:nth-child(2n) {
                    animation-delay: $animationSegmentTime * 2 + $projectAnimationTime;
                }

                &:nth-child(3n) {
                    animation-delay: $animationSegmentTime * 2 + $projectAnimationTime * 2;
                }

                &:nth-child(4n) {
                    animation-delay: $animationSegmentTime * 2 + $projectAnimationTime * 3;
                }
            }
        }
    }

    &.page-exit-active {
        .portfolio-title {
            animation: slide-out-right $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 3;
        }

        .section-links,
        .personal-page-evolution {
            animation: slide-out-right $animationSegmentTime forwards;
            animation-delay: $animationSegmentTime * 2;
        }

        .projects {
            .project {
                animation: slide-out-right $projectAnimationTime forwards;

                &:nth-child(1n) {
                    animation-delay: $projectAnimationTime * 3;
                }

                &:nth-child(2n) {
                    animation-delay: $projectAnimationTime * 2;
                }

                &:nth-child(3n) {
                    animation-delay: $projectAnimationTime;
                }

                &:nth-child(4n) {
                    animation-delay: 0s;
                }
            }
        }
    }
    &.page-exit-done {
        display: none;
    }
}
