@import './variables.scss';

.portfolio {
    .portfolio-content {
        padding: 32px;
        box-sizing: border-box;
        overflow-y: auto;

        .project {
            img {
                max-width: 100%;
            }
        }
    }

    // Animations

    &.page-enter-active {
        display: none;
    }
    &.page-enter-done {
        // Total enter animations time CAN exceed $transitionsDuration
        $enterAnimations: $transitionsDuration / 2;

        .portfolio-title {
            opacity: 0;
            animation: slide-in-right $enterAnimations forwards;
        }

        .portfolio-links {
            opacity: 0;
            animation: slide-in-right $enterAnimations forwards;
            animation-delay: $enterAnimations;
        }
    }

    &.page-exit-active {
        // Total exit animations time CANNOT exceed $transitionsDuration
        $exitAnimations: $transitionsDuration / 2;

        .portfolio-title {
            animation: slide-out-right $exitAnimations forwards;
            animation-delay: $exitAnimations;
        }

        .portfolio-links {
            animation: slide-out-right $exitAnimations forwards;
        }
    }
    &.page-exit-done {
        display: none;
    }
}
