@import './variables.scss';

.project {
    padding-bottom: 24px;

    @media (min-width: $medium) {
        padding-right: 16px;
    }

    .project-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 32px;

        .project-title {
            margin: 0;
        }

        .project-details {
            .project-date {
                padding-right: 8px;
            }

            .project-source {
                text-decoration: none;
                color: black;
                transition: font-size $hoverTransition, opacity $hoverTransition;

                &:hover {
                    font-size: 20px;
                    opacity: $hoverOpacity;
                }
            }
        }
    }

    .project-image-wrapper {
        position: relative;

        img {
            max-width: 100%;
            // Placeholder for image loading error
            background-color: #f2f2f2;
            min-height: 200px;
            width: 100%;
            display: inline-block;
        }

        .project-demo {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            text-decoration: none;
            transition: font-size $hoverTransition, opacity $hoverTransition;

            &:hover {
                font-size: 40px;
                opacity: $hoverOpacity;
            }
        }
    }
}
