$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Keep in sync with variables.ts transitionsDuration
$transitionsDuration: 1200ms;

$primaryColor: #fed136;

$hoverOpacity: 0.6;
$hoverTransition: 200ms;
